---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import shortenDate from '../../lib/shorten-date'
import ContentList from '../../components/ContentList.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const postsList = posts.map((post) => ({
	link: `/blog/${post.slug}`,
	meta: shortenDate(post.data.pubDate),
	title: post.data.title,
}))
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />

		<main class="container mx-auto mt-[8rem] min-h-[60vh]">
			<div class="text-secondary">{posts.length} posts published</div>

			<blockquote class="mx=[480px]">
				These are my own words. Shaped by my own experiences. If you find
				something confusing, wrong or misleading, please let me know. If you
				find anything helpful, please consider sharing to your friends.
			</blockquote>

			<section class="mt-[5rem]">
				<ContentList items={postsList} />
			</section>
		</main>

		<Footer />
	</body>
</html>