---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Link from '../components/Link.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import developerTools from '../lib/developer-tools'
import featuredLinks from '../lib/featured-links'
import { getCollection } from 'astro:content'
import shortenDate from '../lib/shorten-date'
import ContentList from '../components/ContentList.astro'

const posts = (await getCollection('blog')).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})

const postsList = posts.slice(0, 6).map((post) => ({
	link: `/blog/${post.slug}`,
	meta: shortenDate(post.data.pubDate),
	title: post.data.title,
}))
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Hi ðŸ‘‹ðŸ½" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container mt-8">
			<h1>Welcome to my Home</h1>

			<p class="intro">
				It's me De-Great; or call me GR. I am a creative trying every and
				anything that spikes my interest. 3D, code, music, drawing, writing? On
				this site, you'll find a few things I want you to know <span
					class="text-secondary">[about me or stuff I'm working on]</span
				>. If you want to know more and keep up, try following my socials or
				join my <a href="https://discord.gg/5CDnysz">Discord</a> server.
			</p>

			<p>ðŸ‡¬ðŸ‡­</p>

			<h2 class="mt-8">Featured</h2>

			<div class="row row-gap-5">
				{
					featuredLinks.map((link) => (
						<div class="col-md-4">
							<div class="fw-bold">{link.title}</div>
							<p class="text-secondary">{link.description}</p>
							<Link href={`https://${link.link}`}>{link.link}</Link>
						</div>
					))
				}
			</div>

			<section class="row mt-5">
				<div class="col-md-8">
					<h2>Recent posts</h2>

					<ContentList items={postsList} />

					<div class="mt-5 text-secondary">
						See all posts <a href="/blog">here</a>
					</div>
				</div>
			</section>

			<section class="mt-8">
				<h2>Developer packages</h2>

				<div class="row row-gap-5">
					{
						developerTools.map((pkg) => (
							<div class="col-md-4">
								<div class="fw-bold mb-3">{pkg.title}</div>
								<div class="text-secondary mb-2">{pkg.description}</div>

								<a href={pkg.link}>{pkg.link}</a>
							</div>
						))
					}
				</div>

				<div class="mt-5 text-secondary">
					Check out more projects <a href="/projects">here</a>
				</div>
			</section>
		</main>
		<Footer />
		<style>
			.intro {
				max-width: 480px;
			}
		</style>
	</body>
</html>
