---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Link from '../components/Link.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import developerTools from '../lib/developer-tools'
import featuredLinks from '../lib/featured-links'
import { getCollection } from 'astro:content'
import shortenDate from '../lib/shorten-date'
import ContentList from '../components/ContentList.astro'

const posts = (await getCollection('blog')).sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})

const postsList = posts.slice(0, 6).map((post) => ({
  link: `/blog/${post.slug}`,
  meta: shortenDate(post.data.pubDate),
  title: post.data.title,
}))
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Hi ðŸ‘‹ðŸ½" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="container mx-auto mt-[8rem]">
      <h1 class="mb-8 text-lg font-bold">Welcome to my Home</h1>

      <p class="max-w-[480px]">
        It's me De-Great; or call me GR. I am a creative trying every and
        anything that spikes my interest. 3D, code, music, drawing, writing? On
        this site, you'll find a few things I want you to know <span
          class="text-secondary">[about me or stuff I'm working on]</span
        >. If you want to know more and keep up, try following my socials or
        join my <a class="font-medium" href="https://discord.gg/5CDnysz"
          >Discord</a
        > server.
      </p>

      <p>ðŸ‡¬ðŸ‡­</p>

      <h2 class="mb-4 mt-[8rem] font-bold">Featured</h2>

      <div class="grid grid-cols-1 gap-4 gap-y-8 lg:grid-cols-3">
        {
          featuredLinks.map((link) => (
            <div class="col-span-1">
              <div class="card !pb-0">
                <div class="font-bold">{link.title}</div>
                <p class="text-secondary">{link.description}</p>
                <Link
                  className="font-medium mb-2 inline-block"
                  href={`https://${link.link}`}
                >
                  {link.link}
                </Link>

                {link.featureImage && (
                  <div
                    class="aspect-[16/7] rounded-t-lg bg-zinc-100 dark:bg-neutral-900 dark:bg-opacity-40"
                    role="img"
                    aria-label={link.title}
                  >
                    <link.featureImage />
                  </div>
                )}
              </div>
            </div>
          ))
        }
      </div>

      <section class="mt-[5rem] grid grid-cols-1 lg:grid-cols-3">
        <div class="col-span-1 lg:col-span-2">
          <h2 class="mb-4 font-bold">Recent posts</h2>

          <ContentList noTransition items={postsList.slice(0, 6)} />

          <div class="text-secondary mt-5">
            See all posts <a
              class="text-zinc-800 dark:text-neutral-200"
              href="/blog">here</a
            >
          </div>
        </div>
      </section>

      <section class="mt-[8rem]">
        <h2 class="mb-4 font-bold">Developer packages</h2>

        <div class="grid grid-cols-1 gap-4 gap-y-8 lg:grid-cols-3">
          {
            developerTools.map((pkg) => (
              <div class="col-md-4">
                <div class="card">
                  <div class="mb-3 font-bold">{pkg.title}</div>
                  <div class="text-secondary mb-2">{pkg.description}</div>

                  <a class="font-medium" href={pkg.link}>
                    {pkg.link}
                  </a>
                </div>
              </div>
            ))
          }
        </div>

        <div class="text-secondary mt-5">
          Check out more projects <a href="/projects">here</a>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
