---
import Link from '../components/Link.astro'
import { SITE_DESCRIPTION } from '../consts'
import developerTools from '../lib/developer-tools'
import featuredLinks from '../lib/featured-links'
import { getCollection } from 'astro:content'
import shortenDate from '../lib/shorten-date'
import ContentList from '../components/ContentList.astro'
import Shell from '../layouts/Shell.astro'
import ProjectItem from '../components/ProjectItem.astro'

const posts = (await getCollection('blog')).sort((a, b) => {
  return b.data.pubDate!.getTime() - a.data.pubDate!.getTime()
})

const postsList = posts.slice(0, 6).map((post) => ({
  link: `/blog/${post.slug}`,
  meta: shortenDate(post.data.pubDate!),
  title: post.data.title,
}))
---

<Shell title="Hi ðŸ‘‹ðŸ½" description={SITE_DESCRIPTION}>
  <main class="container mx-auto mt-[8rem]">
    <abbr
      title="Twi language: means Welcome"
      class="rounded-lg border border-pink-200 bg-pink-100 bg-opacity-50 px-2 font-medium tracking-wider text-pink-500 no-underline dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500">
      <div class="i-lucide-hand-metal inline-block !text-sm"></div> Akwaaba
    </abbr>
    <h1 class="mt-0 text-lg font-bold">Welcome to my Home</h1>

    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
      <div class="col-span-1">
        <p class="mt-8">
          It's me De-Great; or call me GR. I am a creative trying every and
          anything that spikes my interest. 3D, code, music, drawing, writing?
        </p>

        <p>
          On this site, you'll find a few things I want you to know <span
            class="text-secondary">
            <a href="about">about me</a> or <a href="projects">
              stuff I'm working on
            </a>
          </span>. If you want to know more and keep up, try following my
          socials or join my <a
            class="font-medium"
            href="https://discord.gg/5CDnysz">
            Discord
          </a> server.
        </p>

        <p>ðŸ‡¬ðŸ‡­</p>
      </div>

      <div class="col-span-1 mt-8 lg:mt-0">
        <div class="mx-auto w-[200px]">
          <img
            src="/01-pix-art.jpeg"
            alt="art"
            width="180"
            class="image-render-pixel"
          />
          <div class="text-secondary mt-1 text-sm">
            <div
              class="inline-flex items-center gap-1 rounded-lg border border-zinc-300 bg-zinc-200 px-2 font-medium dark:border-neutral-700 dark:bg-neutral-800">
              <div class="i-lucide-flower inline-block text-amber-500"></div> Art
              of the day
            </div>
            <div class="ms-2">Hand-sketched with Pixaki on iPad</div>
            <div class="ms-2 font-mono text-xs">23-02</div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mb-4 flex items-center gap-2 font-bold" id="featured">
      <div class="i-lucide-book-heart inline-block opacity-60"></div> Featured
    </h2>

    <div class="grid grid-cols-2 gap-2 md:grid-cols-3 lg:gap-4">
      {
        featuredLinks.map((link) => (
          <div class="col-span-1">
            <div class="card !max-md:px-2 !max-md:pt-2 !pb-0">
              <h3 class="font-bold">{link.title}</h3>
              <p class="text-secondary text-sm mt-0">{link.description}</p>
              <div class="pb-2 text-sm">
                <Link className="font-medium" href={`https://${link.link}`}>
                  <span class="whitespace-pre-wrap">{link.link}</span>
                </Link>
              </div>

              {link.featureImage && (
                <div
                  class="aspect-[16/7] rounded-t-lg bg-zinc-100 dark:bg-neutral-900 dark:bg-opacity-40"
                  role="img"
                  aria-label={link.title}>
                  <link.featureImage />
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>

    <section class="mt-[5rem] grid grid-cols-1 lg:grid-cols-3">
      <div class="col-span-1 lg:col-span-2">
        <h2 class="mb-4 flex items-center gap-2 font-bold" id="recent-posts">
          <div class="i-lucide-cassette-tape inline-block opacity-60"></div> Recent
          posts
        </h2>

        <ContentList noTransition items={postsList.slice(0, 6)} />

        <div class="text-secondary mt-5">
          See <a class="text-zinc-800 dark:text-neutral-200" href="/blog">
            all posts
          </a>
        </div>
      </div>
    </section>

    <section class="mt-[4rem]">
      <div>
        <a
          class="inline-flex items-center gap-2 rounded-lg bg-zinc-200 dark:bg-neutral-800 px-2 py-0.8 font-medium no-underline border-2 border-dashed border-zinc-300 hover:border-zinc-400 dark:border-neutral-700 dark:hover:border-neutral-600"
          href="/lesson-notes">
          <div class="i-lucide-sigma-square inline-block opacity-50"></div>
          Lesson notes
        </a>
      </div>
    </section>

    <section class="mt-[4rem]">
      <h2 class="mb-4 flex items-center gap-2 font-bold">
        <div class="i-lucide-terminal-square inline-block opacity-60"></div> Developer
        Packages
      </h2>

      <div class="grid grid-cols-2 gap-2 md:grid-cols-3 md:gap-4">
        {
          developerTools.map((pkg) => (
            <div class="col-md-4">
              <ProjectItem project={pkg} />
            </div>
          ))
        }
      </div>

      <div class="text-secondary mt-5">
        Check out <a href="/projects">more projects</a>
      </div>
    </section>
  </main>
</Shell>
