---
import Link from './Link.astro'

interface Project {
  title: string
  description: string
  meta?: string
  url: string
  tags?: { title: string; color: string }[]
}

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class="col-span-1">
  <div class="card">
    <div class="font-bold">{project.title}</div>
    <p class="text-secondary">{project.description}</p>

    <div class="text-secondary">{project.meta}</div>

    <div class="mt-2">
      <Link href={`https://${project.url}`}>{project.url}</Link>
    </div>

    {
      project.tags && (
        <ul class="mt-2">
          {project.tags.map((tag) => (
            <span
              class={`rounded-lg bg-${tag.color}-100 bg-opacity-50 px-2 text-${tag.color}-500`}>
              {tag.title}
            </span>
          ))}
        </ul>
      )
    }
  </div>
</div>
