---
import IconifyLink from './IconifyLink.astro'

interface Project {
  title: string
  description: string
  meta?: string
  url: string
  tags?: string[]
}

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class="col-span-1">
  <div class="card">
    <!-- <div class="mb-2 h-24 rounded-lg bg-zinc-100"></div> -->

    <div class="font-bold">{project.title}</div>

    <p class="text-secondary text-sm">{project.description}</p>

    <div class="text-secondary text-sm">{project.meta}</div>

    <div class="mt-2 text-sm">
      <IconifyLink href={`https://${project.url}`} />
    </div>

    {
      project.tags && (
        <ul class="mt-2 text-sm">
          {project.tags.map((tag) => (
            <span
              class={`rounded-lg bg-zinc-200 px-2 font-medium text-zinc-600 dark:bg-neutral-700 dark:text-neutral-300`}>
              {tag}
            </span>
          ))}
        </ul>
      )
    }
  </div>
</div>
