---
import IconifyLink from './IconifyLink.astro'

interface Project {
  title: string
  description: string
  meta?: string
  url: string
  tags?: string[]
}

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class="col-span-1">
  <div class="card !p-2 !md:p-4">
    <h3 class="font-bold">{project.title}</h3>

    <p class="text-secondary text-sm mt-0">{project.description}</p>

    <div class="text-secondary text-sm">{project.meta}</div>

    <div class="mt-2 text-sm">
      <IconifyLink href={`https://${project.url}`} />
    </div>

    {
      project.tags && (
        <ul class="mt-2 text-sm">
          {project.tags.map((tag) => (
            <span
              class={`rounded-lg bg-zinc-200 px-2 font-medium text-zinc-600 dark:bg-neutral-700 dark:text-neutral-300`}>
              {tag}
            </span>
          ))}
        </ul>
      )
    }
  </div>
</div>
